/* =========================================
   CONTACT SECTION
========================================= */

.contact_section{
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    padding: 40px 0 100px;
    background:
    linear-gradient(
    315deg,
    #020A0C 0%,
    #03181C 30%,
    #0A3A42 65%,
    #020A0C 100%
    );
    border-top: 1px solid rgba(0, 255, 255, 0.28);

   
}

.contact_section::before{
    content: "";

    position: absolute;
    inset: 0;

    background-image:
    url("/images/noise.webp");

    opacity: 0.025;

    pointer-events: none;
}

/* ===== MAIN CONTAINER ===== */


/* ===== BACKGROUND TEXT ===== */

.contact_bg_text{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 30%);

    font-size: 15rem;
    letter-spacing: 20px;
    font-weight: 400;

    display: flex;
    gap: 12px;

    z-index: 1;

    font-family: var(--font-heading);
    pointer-events: none;

    line-height: 0.8;
    margin: 0;
    padding: 0;
}
.contact_bg_text span{
    filter: blur(0.7px);
}

.contact_bg_text span:nth-child(1){
    color: rgba(255,255,255,0.07);
    
}

.contact_bg_text span:nth-child(2){
    color: rgba(255,255,255,0.3);
  
}

.contact_container{
    width: 78%;
    height: 78vh;

    position: relative;

    display: flex;
    align-items: center;

    padding: 40px 50px;
}


/* =========================================
   LEFT SIDE
========================================= */

.contact_left{
    width: 50%;
    height: 105%;
    position: relative;
    padding: 10px 15px;
    border-radius: 22px;
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow:
    0 0 25px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(255,255,255,0.02);
    z-index: 5;
     transform: translate(6px, 85px);
    }



/* TOP ICON */

.contact_top_icon{
    width: 90px;
    height: 70px;
}

.contact_top_icon img{
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;
}

/* FORM */

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact_form input,
.contact_form textarea{
    width: 100%;

    background: rgba(255,255,255,0.03);

    border: 1px solid rgba(255,255,255,0.08);

    outline: none;

    color: white;

    border-radius: 16px;

    padding: 16px 18px;

    font-size: 0.95rem;

    transition: 0.3s ease;

    box-shadow:
    inset 0 0 18px rgba(0,255,255,0.04),
    0 0 15px rgba(0,0,0,0.25);
}

.contact_form input{
    height: 56px;
}

.contact_form textarea{
    height: 150px;
    resize: none;
}

.contact_form input::placeholder,
.contact_form textarea::placeholder{
    color: rgba(255,255,255,0.55);
}

.contact_form input:focus,
.contact_form textarea:focus{
    border-color: rgba(0,255,255,0.4);

    box-shadow:
    0 0 20px rgba(0,255,255,0.12),
    inset 0 0 12px rgba(0,255,255,0.06);
}

/* BUTTON */

.contact_form button{
    width: 100%;
    height: 58px;

    border: none;
    outline: none;

    cursor: pointer;

    border-radius: 18px;

    color: white;
    font-size: 1rem;
    font-weight: 600;

    background: rgba(0, 247, 255, 0.08);

    border: 1px solid rgba(255,255,255,0.08);

    transition: 0.35s ease;

    box-shadow:
    0 0 18px rgba(0,0,0,0.3),
    inset 0 0 12px rgba(255,255,255,0.04);
}

.contact_form button{
    position: relative;
    overflow: hidden;
}

.contact_form button::before{
    content: "";

    position: absolute;
    top: 0;
    left: -120%;

    width: 60%;
    height: 100%;

    background:
    linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.45),
    transparent
    );

    transform: skewX(-25deg);

    transition: 0.7s ease;

    pointer-events: none;
}

.contact_form button:hover{
    transform: translateY(-2px);

    border-color: rgba(0,255,255,0.35);

    box-shadow:
    0 0 22px rgba(0,255,255,0.15);
}

.contact_form button:hover::before{
    left: 150%;
}


/* =========================================
   RIGHT SIDE
========================================= */

.contact_right{
    display: flex;
    flex-direction: column;
    gap: 30px;

    z-index: 5;
    width: 30%;

    position: relative;
    top: 130px;
    left: 78px;
}

/* TEXT */

.contact_text{
    color: rgba(255,255,255,0.72);
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 2px;
    font-size: 1.4rem;
    max-width: 500px;
}

/* ===== SOCIALS ===== */

.contact_socials{
    display: inline-grid;

    grid-template-columns: repeat(3, max-content);

    gap: 30px 30px;
}

/* GMAIL GLOW */

.social_icon.gmail::after{
    box-shadow: inset 0 0 25px rgba(255, 70, 70, 0.30);
}

.social_icon{
    display: flex;

    flex-shrink: 0;

    outline: 1px solid transparent;
}


/* ===== DATE TIME ===== */

.contact_datetime{
    color: rgba(255,255,255,0.72);

    display: flex;
    flex-direction: column;
    gap: 6px;

    font-size: 0.92rem;
    letter-spacing: 1px;
}

.contact_datetime p{
    margin: 0;
}
