
/* ===== HERO SECTION ===== */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #000;
  border-radius: 0 0 80px 80px;
  border: 1px solid rgba(0, 255, 255, 0.516);
    box-shadow: 

        inset 0 0 60px rgba(46, 230, 215, 0.082);

    }
    
.hero::after {
  content: "";
  position: absolute;
  inset: -100%;
  background-image: url("../images/noise.webp");
  opacity: 0.01;
  
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(46, 230, 214, 0.4) 0%,
    rgba(46, 230, 214, 0.3) 25%,
    rgba(46, 230, 214, 0.1) 50%,
    rgba(46, 230, 214, 0.05) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(100px);
}





.hero > * {
  position: relative;
  z-index: 1;
}

/*Bubbles*/
.tech-bubbles {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.2;
}

.tech-bubble {
  position: absolute;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.tech-bubble::after {
  content: "";
  position: absolute;
  inset: 0;

 
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.9;
}

.tech-bubble.html::after {
  background-image: url("../svg/html.svg");
  background-size: 70%;
}

.tech-bubble.css::after {
  background-image: url("../svg/css.svg");
   background-size: 70%;
}

.tech-bubble.js::after {
  background-image: url("../svg/js.svg");
   background-size: 60%;
}

.tech-bubble.html {
  top: 10%;
  left: -100px;
  animation: floatRotate 12s linear infinite;
}

.tech-bubble.css {
  top: 40%;
  left: -120px;
  animation: floatRotate 14s linear infinite;
}

.tech-bubble.js {
  top: 5%;
  left: -10px;
  animation: floatRotate 10s linear infinite;
}

@keyframes floatRotate {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: translateX(50vw) translateY(-20px) rotate(180deg);
  }

  100% {
    transform: translateX(110vw) translateY(20px) rotate(360deg);
    opacity: 0;
  }
}


/* ===== TOP MENU ===== */
.hero_top {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.hero_bottom {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}



/* NAVBAR BASE */
.navbar{
    position: fixed;
    top: 85px;
    left: 50%;
    transform:
        translateX(-50%)
        translateY(-12px)
        scale(0.96);
    opacity: 0;
    pointer-events: none;
    width: 450px;
    height: 55px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.12);
    background: rgba(255,255,255,0.06);
    color: #fff;
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    backdrop-filter: blur(18px) saturate(180%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
    0 8px 32px rgba(0,0,0,0.35),
    inset 0 1px 0 rgba(255,255,255,0.12),
    inset 0 -1px 0 rgba(255,255,255,0.03);
      transition:
        transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.35s ease;
}

.navbar::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background:
        linear-gradient(
            180deg,
            rgba(255,255,255,0.18) 0%,
            rgba(255,255,255,0.06) 30%,
            transparent 100%
        );

    pointer-events: none;
}
/* OPEN STATE */
.navbar.active{
    opacity: 1;
    transform: translateX(-50%) scale(1);
    pointer-events: auto;
}

/* ICON ROW */
.nav-track{
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center; 
}
.nav-track::before{
    content: "";
    position: absolute;
    top: 44%;
    left: var(--light-x, 50%);
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;

    background:
        radial-gradient(circle,
            rgba(0,255,255,0.9) 0%,
            rgba(0,255,255,0.35) 25%,
            rgba(0,255,255,0.12) 45%,
            transparent 70%
        );

    filter: blur(8px);
    opacity: 0;
    transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
}
.nav-track.light-on::before{
    opacity: 1;
}

/* NAV ITEM */
.nav-item{
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}

/* ICON */
.nav-item img{
    width: 24px;
    transition: 0.3s ease;
}

/* BLUE GLOW TOP EFFECT */
.nav-item::before{
    content: "";
    position: absolute;
    top: 1px;
    width: 40px;
    height: 3px;
    background: cyan;
    border-radius: 0 0 20px 20px;
    opacity: 0;
    transition: 0.3s;
    
}

/* LABEL BOX (like PNG overlay) */
.nav-item::after{
    content: attr(data-name);
    position: absolute;
    bottom: -40px;

    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;

    background: rgba(0,0,0,0.6);
    border: 1px solid rgba(0, 255, 255, 0.498);
    border-radius: 6px;

    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s ease;
}
.nav-item.active::after{
    opacity: 1;
    transform: translateY(0);
}

/* HOVER EFFECT */
.nav-item:hover img{
    transform: translateY(-3px) scale(1.1);
}

.nav-item:hover::before{
    opacity: 1;
}

.nav-item:hover::after{
    opacity: 1;
    transform: translateY(0);
}



/* ===== CONTAINER ===== */
.hero_container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

/* ===== CONTENT ===== */
.hero_content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
   transform: translateY(20px);
}

/* ===== TEXT ===== */
.hero_title {
  font-family: var(--font-heading);
  font-size: 20rem; 
  line-height: 1.3;
  letter-spacing: 5px;
  background: linear-gradient(to right, #ffffff, #97979e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 10px rgba(0,0,0,0.7));
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
}


.hero_glass {
  position: absolute;
  top: 38%;
  left:50px;
  width: 42%;
  height: 70px;
  transform: none;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.037);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow:0 0 7px rgba(0,0,0,1);
  cursor: grab;
  z-index: 10;
  pointer-events: auto;
  overflow: hidden;
}

/* REAL GLASS SHINE */
.hero_glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 60%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255,255,255,0.15) 40%,
    rgba(255,255,255,0.6) 50%,
    rgba(255,255,255,0.15) 60%,
    transparent 100%
  );

  filter: blur(6px);
  transform: skewX(-20deg);

  animation: glassShine 4s linear infinite;
}

/* LOOP ANIMATION */
@keyframes glassShine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.hero_glass:active {
  cursor: grabbing;
}

.hero_glass::after {
  content: "Drag";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  font-size: 0.8rem;
  letter-spacing: 2px;
  color:var(--color-primary);

  opacity: 0;
  transition: 0.3s ease;

  pointer-events: none;
}
.hero_glass:hover::after {
  opacity: 1;
}



.hero_subtitle {
  position: absolute;
  top: 0;
  left: 60px;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  background: linear-gradient(to right, #ffffff, #97979e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 10px rgba(0,0,0,0.7));
   pointer-events: none;
}

.hero_meta {
  position: absolute;
   bottom: -1.5rem; 
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
   pointer-events: auto;
}

.hero_role {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  background: linear-gradient(to right, #ffffff, #2EE6D6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 10px rgba(0,0,0,0.7));
}

.typing-wrap {
  display: inline-block;
  min-width: 8ch; 
  text-align: left;
}

.caret {
  display: inline-block;
  width: 2px;
  height: 0.9em;
  margin-left: 2px;
  background: #fff;
  vertical-align: middle;
 animation: caretBlink 1s steps(1) infinite;
}

@keyframes caretBlink {
  50% {
    opacity: 0;
  }
}


/*
.hero__hash img {
  width: 20px;   
  height: auto;
  opacity: 0.5; 
}
  */

  @media (max-width: 1200px){

    .hero_title{
        font-size: 15rem;
    }

    .hero_glass{
        left: 50%;
        transform: translateX(-50%);
        width: 42%;
    }

    .hero_subtitle{
        left: 90px;
        font-size: 2.5rem;
        
       
    }

    .hero_role{
        font-size: clamp(2rem, 2.5vw, 4rem);
        
      
    }

    .hero_meta{
        right: 60px;
  
    }

    .navbar{
        width: 420px;
    }
}



@media (max-width: 1000px){

    .hero{
        border-radius: 0 0 50px 50px;
    }

    .hero_content{
        transform: translateY(0);
    }

    .hero_title{
        line-height: 1.1;
               font-size: clamp(3.9rem, 16vw, 20rem);
        letter-spacing: clamp(2px, 0.4vw, 5px);

    }

    .hero_subtitle{
        position: static;
          font-size: clamp(1.4rem, 2.5vw, 3rem);
        margin-bottom: clamp(0.8rem, 1.5vw, 1.5rem);
        text-align: center;
    }

    .hero_meta{
        position: static;
        margin-top: 2rem;
        align-items: center;
    }

    .hero_role{
         font-size: clamp(1.4rem, 2.5vw, 3rem);
        margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
    }

        .hero_glass{
          z-index: -1;
        left: 50%;
        top: 30%;

        transform: translate(-50%, -50%);

        width: clamp(80%, 50vw, 85%);
        height: clamp(65px, 7vw, 120px);

        cursor: default;

        pointer-events: none;
    }

    .hero_glass::after{
        display: none;
    }

    .navbar{
         max-width: clamp(300px, 40vw, 500px);
        height: clamp(46px, 5vw, 55px);
        top: clamp(75px, 8vw, 90px);
    }

    .nav-track{
        gap: clamp(20px, 2vw, 30px);
    }

    .nav-item{
         width: clamp(34px, 4vw, 55px);
        height: clamp(34px, 4vw, 55px);
    }
    .nav-item::before{
      display: none;
    }

     .hero_bottom{
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: clamp(20px, 3vw, 40px);
    }

    .hero_bottom .btn{
        width: fit-content;
    }
}



@media(min-width:440px) and (max-width:1000px) {
  .hero_glass{
       width: clamp(60%, 50vw, 85%);
        height: clamp(20px, 6vw, 95px);
        top:28%;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);

        
    }
}












